<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="../css/home.css">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <div class="wrapper">-->
<!--        <div class="logo">-->
<!--&lt;!&ndash;            <img src="../image/background.jpg" alt="">&ndash;&gt;-->
<!--        </div>-->
<!--        <ul class="nav-area">-->
<!--            <li><a href="#">Home</a></li>-->
<!--            <li><a href="#">About</a></li>-->
<!--            <li><a href="#">Service</a></li>-->

<!--        </ul>-->
<!--    </div>-->

<!--    <div class="welcome-text">-->
<!--&lt;!&ndash;        <h1>Hello</h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Hý</a>&ndash;&gt;-->
<!--    </div>-->
<!--</header>-->
<!--</body>-->
<!--</html>-->