<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>


</head>
<body>
<!--<div id="display">-->
<!--</div>-->
<div class="card">
    <h5 class="card-header font-weight-light">
        <a href="" style="text-decoration: none">
            <span class="fas fa-tasks fa-fw mr-3"></span>
            <span><b>Product List</b></span>
        </a>
    </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td style="text-align: center">Name</td>
                    <td style="text-align: center">Giá</td>
                    <td style="text-align: center">Số Lượng</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                </tr>
                </thead>
                <tbody id="display">
                </tbody>
            </table>
            <button onclick="findAll()" class="btn btn-success">Show</button>
<!--                        <button onclick="showAddForm()" class="btn btn-success">Thêm mới</button>-->
<!--            Modal-->
<!--             Button trigger modal-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-insert">
                Insert
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal-insert" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Tên Sản Phẩm</label>
                            <input type="text" class="form-control" id="name" placeholder="Nhập tên sản phẩm">
                            <label>Giá sản phẩm</label>
                            <input type="text" class="form-control" id="price" placeholder="Nhập giá sản phẩm">
                            <label>Số lượng</label>
                            <input type="text" class="form-control" id="quantity" placeholder="Nhập số lượng">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="save()">Lưu sản phẩm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="../js/javascript.js"></script>
</html>